/* Importation des polices depuis Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;1,300&display=swap');

html {
  font-family: 'Montserrat', sans-serif; 
}

.lightMode {
  background-color: #ffffff; 
  color: #041821; 
}

body {
  background-color: #041821; 
  color: white; 
}


header {
  border-bottom: #808080;
  padding: 1.5em 0; /* Espace en haut et en bas */
}

header h1 {
  font-family: 'Yeseva One', cursive;
  text-align: center;
  color: #ffffff; 
  font-size: 1.5em;
  font-weight: lighter; /* Poids léger */
}

span {
  color: #1bd79e;
}

header nav {
  text-align: center; 
}

header nav a {
  color: #ffffff;
}

main {
  width: 90%; /* Largeur du contenu */
  margin: auto;
  padding-top: 3em; /* Espace en haut */
}


main h2 {
  font-family: 'Yeseva One', cursive; 
  font-size: 2em; 
}

main p {
  color: #808080;
  font-weight: lighter; /* Poids léger */
  margin: 2em 0; /* Marges verticales */
}

main nav {
  display: flex; /* Utilise Flexbox pour la mise en page */
  justify-content: space-between; /* Espacement entre les éléments */
  margin-bottom: 2em; /* Espace en bas */
}

main nav button {
  background-color: #041821; 
  color: #ffffff; 
  border: none; 
  letter-spacing: 0.25em; /* Espacement des lettres */
  font-weight: lighter; /* Poids léger */
  font-size: 0.5em; /* Taille de police */
  padding: 0.5em; /* Espacement intérieur */
}

main nav button:nth-child(2) {
  background-color: #1bd79e; 
}

.photo {
  display: grid; /* Utilise une grille pour la mise en page */
  grid-template-columns: repeat(3, 1fr); /* 3 colonnes égales */
  grid-gap: 0.5em; /* Espacement entre les éléments */
}

.photo img {
  width: 100%; /* Prend toute la largeur de la cellule */
  object-fit: cover; /* Couvre l'espace sans déformation */
}

footer {
  text-align: center; 
  margin-top: 4em; /* Espace au-dessus */
  color: #e5e5e5; 
  font-weight: 100; /* Poids léger */
  opacity: 0.5; /* Transparence */
}

footer p {
  margin-bottom: 1em; /* Espace en bas */
  font-size: 0.75em; 
}




@media screen and (min-width: 768px) {
  /* Pour les tablettes */

  header {
    display: flex; /* Mise en page en Flexbox */
    justify-content: space-between; /* Espacement entre les éléments */
    align-items: center; 
    padding: 1em; /* Espacement intérieur */
  }

  main {
    width: 80%; /* Largeur réduite */
    margin: center; 
  }

  main h2 {
    font-size: 3em;
  }

  main nav {
    justify-content: center;
    gap: 1em; /* Espacement entre les boutons */
  }

  main nav button {
    font-size: 0.75em; /* Taille de police agrandie */
  }

  .photo {
    grid-template-columns: repeat(5, 1fr); /* 5 colonnes égales */
  }

  main p {
    width: 80%; /* Largeur des paragraphes */
  }
}




@media screen and (min-width: 1024px) {
  /* Pour les écrans de pc */

  main h2,
  main p {
    width: 60%; /* Réduction de la largeur des titres et paragraphes */
  }

  main nav button {
    font-size: 1em; /* Taille de police des boutons agrandie */
  }

  .photo {
    grid-template-columns: repeat(4, 1fr); /* 4 colonnes égales */
  }
}
