.logo{
    text-align: right;
    margin-top: 20px;
}

body {
    background-color: #041821;
}

h1 {
    color: #e5e5e5;
}

h2 {
    color: #e5e5e5;
    font-size: xxx-large;
}

span {
    color: #1bd79e;
}

p {
    color: #808080;
}

nav{
    text-align: center;
    font-size: xx-large;
}

color{
    color: #e5e5e5;
    background-color: #1bd79e;
    border: #1bd79e;
}

button{
    color: #e5e5e5;
    background-color: #041821;
    border: none;
}

footer {
    color: #808080;
    text-align: center;
}

div{
    text-align: center;
}




